body{
		background-color:white;
		color:red;

}

a:link{
		background-color:white;
		color:black;

}

a:hover{
		background-color:white;
		color:pink;
		font-size:25px;

}

img{
		height:200px;

}

ul{
	list-style-position:inside;
}

#container{
		background-color:white;
		color:green;
		margin:40px;
		padding:30px;
		border-radius:25px;
		text-align:center;

}

#haha{
	background-color:white;
	margin:30px;
	padding:30px;
	border-radius:30px;
	text-align:center;


}

/*Below is the code for Tic Tac Toe*/

#board{
	width:330px;
	height:330px;
	border-style:solid;
	border-width:10px;
	margin-left:auto; 
	margin-right:auto;
	margin-top:25px; 

}

.box{
	height:100px;
	width:100px;
	border-style:solid;
	border-width:5px;
	float:left;
	font-size:34px;
	vertical-align:middle;
	line-height:100px;

}